html
	width 100%
	height 100%

body
	position fixed
	left 0
	top 0
	touch-callout none
	text-size-adjust none
	user-select none
	background-color $iOSPreferencesBackGroundColor
	background-attachment fixed
	font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
	font-size $baseFontSize
	width 100%
	height 100%
	line-height $m(2)
	margin 0
	padding 0
	overflow hidden
	-webkit-overflow-scrolling auto
	&>*
		width 100%
		opacity 0
		transition-property opacity
		transition-duration 0.2s
	&>.BrowseHappy
		opacity 1
	&.started
		&>*
			opacity 1

body *,
*::before,
*::after
	padding 0
	margin 0
	box-sizing border-box
	position relative
	background-repeat no-repeat
	text-decoration none
	-webkit-tap-highlight-color rgba(0,0,0,0)
	-webkit-tap-highlight-color transparent
	overflow hidden
	cursor default
	text-overflow ellipsis

body
	a,
	button,
	select,
	.checkbox,
	[on-click],
	[to-state]
		cursor pointer
	input
		cursor auto
	[disabled]
		opacity 0.3
		cursor default

select,
input
	display block
	width 100%
	padding 0 $m(1)
	margin 0
	height $u(1)
	line-height $u(1)
	font-size $baseFontSize
	outline 0
	-webkit-appearance none
	$border()
	$margin-bottom()
	&[type="radio"]
		display none
	&[type="range"]
		overflow visible
		&::-ms-thumb
			width $inputHeight
			height $inputHeight
			border-radius 50%
			box-shadow 0 1px 4px 0px $mutedTextColor
			background-color #fff
			border none
			&:active
				border none
		&::-moz-range-thumb
			width $inputHeight
			height $inputHeight
			margin-top $minus($scale($inputHeight, 0.5))
			border none
			border-radius 50%
			box-shadow 0 1px 4px 0px $mutedTextColor
			background-color #fff
		&::-webkit-slider-thumb
			-webkit-appearance none
			width $inputHeight
			height $inputHeight
			margin-top $minus($scale($inputHeight, 0.5))
			border none
			border-radius 50%
			box-shadow 0 1px 4px 0px $mutedTextColor
			background-color #fff
		&::-ms-track
			height $sliderHeight
			background-color $mutedTextColor
			border none
		&::-moz-range-track
			height $sliderHeight
			background-color $mutedTextColor
		&::-webkit-slider-runnable-track
			height $sliderHeight
			background-color $mutedTextColor
		&::-ms-fill-lower
			background-color $colorPrimary

img
	user-select none

p
	color $mutedTextColor
	margin-top $u(1)
	font-size $smallFontSize
	line-height 1.5

ul
	font-size $baseFontSize
	border none
	border-radius 0
	background-color #fff
	list-style none
	$margin-bottom()
li
	height $u(1)
	line-height $u(1)
	padding 0 $m(1)
	border none
	display flex
	flex-direction row
	flex-wrap nowrap
	align-items center
	background-size $m(1) 1px, 100% 2px
	@media $retina
		background-size $m(1) 1px, 100% 1px
	background-image $line(#fff), $lineTop($borderColor)
	background-position left top, top
	&:first-child
		background-size 0 1px, 100% 2px
		@media $retina
			background-size 0 1px, 100% 1px
	&:last-child
		background-size $m(1) 1px, 100% 2px, 100% 2px
		background-image $line(#fff), $lineTop($borderColor), $lineBottom($borderColor)
		background-position left top, top, bottom
		@media $retina
			background-size $m(1) 1px, 100% 1px,  100% 1px
	&:only-child
		background-size 0 1px, 100% 2px, 100% 2px
		@media $retina
			background-size 0 1px, 100% 1px,  100% 1px
	&.withIcon
		background-size $add($m(1), $u(1)) 2px, 100% 2px
		@media $retina
			background-size $add($m(1), $u(1)) 1px, 100% 1px
		&:first-child
			background-size 0 1px, 100% 2px
			@media $retina
				background-size 0 1px, 100% 1px
		&:last-child
			background-size $add($m(1), $u(1)) 1px, 100% 2px, 100% 2px
			@media $retina
				background-size $add($m(1), $u(1)) 1px, 100% 1px,  100% 1px
	&>*
		white-space nowrap
		overflow hidden
		text-align left
		font-weight normal
		flex-grow 1
		&:only-child
			flex-basis initial
			color #000
	&>a
		&:active
			color #000
	&>div
		&:first-child
			text-align left
			flex-basis $u(3)
		&:last-child
			text-align right
			color $mutedTextColor
	&>form
		display flex
		margin-right $minus($m(1))
		&>*
			&:first-child
				padding-left 0
	&>label
		&:first-child
			flex-basis $u(3)
	&>button
	&>input
		background none
		padding 0
		height $inputHeight
		line-height $inputHeight
		&[type="range"]
			flex-grow 1
			padding 0
	button
		&:last-child
			position absolute
			right 0
			top 0
			padding 0 $m(1)
			height 100%
	img
		flex-basis $u(0.7)
		flex-grow 0
		height $u(0.7)
		border-radius 7px
		margin-right $m(1)
		&+*
			color #000
			text-align left
	&.active
		background-color $hoverColor
	&[to-state]
		&::after
			content "_"
			color transparent
			display block
			position absolute
			right 0
			top 0
			width $u(1)
			height 100%
			background-image $urlCaretRightGray
			background-position right center
	&[data-checker]
		&.checked
			&::after
				content ""
				position absolute
				right 0
				top 0
				height 100%
				width $u(1)
				background-image $urlCheckPrimary
				background-position right center
	.checkbox
		position relative
		width $checkboxWidth
		height $checkboxHeight
		flex-grow 0
		border-radius $scale($checkboxHeight, 0.5)
		overflow visible
		border-style solid
		border-color $borderColor
		border-width $checkboxBorderWidth
		transition-property border-width, border-color
		transition-duration 0.2s, 0.1s
		transition-timing-function linear, linear
		&::before
			content ""
			position absolute
			width $checkboxToggleSize
			height $checkboxToggleSize
			left $halfCheckboxToggleSize
			top 50%
			display block
			cursor pointer
			margin-left $minus($halfCheckboxToggleSize)
			margin-top $minus($halfCheckboxToggleSize)
			border-radius 50%
			background-color #fff
			box-shadow 0 1px 4px 0px $mutedTextColor
			transition-property transform
			transition-duration 0.2s
			transition-timing-function ease
			transform translate3d(0,0,0)
		&.checked
			border-color $colorSuccess
			border-width $scale($checkboxHeight, 0.5)
			&::before
				transform translate3d($add($checkboxWidth, $minus($add($checkboxHeight, $halfCheckboxToggleSize))),0,0)

.untouchable
	ul
		>li
			&[data-checker]:hover,
			&[to-state]:hover
				background-color $hoverColor
				background-size 0 1px, 100% 2px
				@media $retina
					background-size 0 1px, 100% 1px
				&+li
					background-size 0 1px, 100% 2px, 100% 2px
					@media $retina
						background-size 0 1px, 100% 1px, 100% 1px

h1,
h2,
h3,
h4,
h5
	margin-top $m(1)
	text-transform capitalize
	font-size 100%

textarea
	display block
	width 100%
	height $u(5)
	margin 0
	padding $m(1)
	outline 0
	-webkit-appearance none
	resize vertical
	overflow-y auto
	$border()
	$margin-bottom()

pre
	padding $m(1)
	font-family Consolas, monospace
	font-size 80%
	line-height 1
	white-space pre
	overflow-x auto
	$border()
	$margin-bottom()

table
	border-collapse collapse
td
	padding $m(0.5) $m(1)
	border solid 1px #ccc

.SegmentedButtons
	padding 0 $m(1)
	margin $m(1) 0
	display flex
	flex-direction row
	flex-wrap nowrap
	align-items center
	&>button
		height $u(0.8)
		display block
		color $colorPrimary
		border-style solid
		border-color $colorPrimary
		border-width 1px 0 1px 1px
		border-radius 0
		background none
		background-color transparent
		flex-grow 1
		text-align center
		transition-property color, background-color
		transition-duration 0.05s, 0.05s
		transition-timing-function linear
		font-weight normal
		overflow hidden
		&:first-of-type
			border-top-left-radius 4px
			border-bottom-left-radius 4px
		&:last-of-type
			border-top-right-radius 4px
			border-bottom-right-radius 4px
			border-right-width 1px
		&:hover
			background-color $colorPrimaryHoverBG
		&.checked
			color #fff
			background-color $colorPrimary

.btnRow
	text-align right

button
	color $colorPrimary
	height $u(1)
	padding 0 $m(1)
	background-color transparent
	border none
	border-radius 4px
	margin 0
	font-size $baseFontSize
	font-weight bold
	outline 0
	text-transform capitalize
	&:hover
		color $colorPrimaryHover
	&:active
		color $colorPrimaryActive

.PageCover
	position fixed
	left 0
	top 0
	z-index $zpageCover
	width 100%
	height 100%
	background-color rgba(0,0,0,0.4)
	transition-property background-color
	transition-duration 0.1s
	transition-timing-function linear
	&.ng-hide-add
		transition-delay 0.2s
		background-color rgba(0,0,0,0.4)
		&.toast
			transition-delay 0.4s
	&.ng-hide-remove
		background-color rgba(0,0,0,0)
		transition-delay 0s
	&.ng-hide-remove-active
		background-color rgba(0,0,0,0.4)
	&.ng-hide-add-active
		background-color rgba(0,0,0,0)
	&>.Pointer
		z-index -1
		display none
	&.dismissable
		&>.Pointer
			display block
	display flex
	flex-direction column
	align-items center
	&.fade
		&.dialog
			&>.PageCoverContent
				opacity 0
		&.toast
			&>.PageCoverContent
				transform translate3d(0,100%,0)
	&>.PageCoverContent
		width $u(8)
		max-width 95%
		max-height 100%
		overflow-y auto
		&>*
			&>li
				padding 0
				background-size 100% 2px
				background-image $lineTop($borderColor)
				background-position top
				@media $retina
					background-size 100% 1px
				&:first-child
					background-image none
				&>*
					height 100%
					text-align center
					font-weight normal
	&.toast
		justify-content flex-end
		button
			width 100%
		a
		[on-click]
			color $colorPrimary
			&:hover,
			&:active
				background-image none
				background-color $borderColor
		&>.PageCoverContent
			padding-top $m(0.5)
			color $mutedTextColor
			transition-property transform
			transition-duration 0.3s
			&>*
				display block
				width 100%
				margin-bottom $m(0.5)
				text-align center
				background-color #fff
				border-radius 4px
				overflow hidden
		&.ng-hide-add
			&>.PageCoverContent
				transition-delay 0.2s
				transition-timing-function cubic-bezier(1.0, 0, 0.7, 0.5)
				transform translate3d(0,0,0)
		&.ng-hide-remove
			&>.PageCoverContent
				transition-delay 0.2s
				transition-timing-function cubic-bezier(0.3, 0.5, 0, 1.0)
				transform translate3d(0,100%,0)
		&.ng-hide-remove-active
			&>.PageCoverContent
				transform translate3d(0,0,0)
		&.ng-hide-add-active
			&>.PageCoverContent
				transform translate3d(0,100%,0)
	&.dialog
		justify-content center
		p
			margin-top $m(1)
			padding 0 $m(1)
		&>.PageCoverContent
			background-color #fff
			border-radius 4px
			opacity 1
			transition-property opacity
			transition-duration 0.2s
		&.ng-hide-add-active
			&>.PageCoverContent
				opacity 0

.Platform-ios
	&>[data-ui-view]
		padding-top $iOSHeaderHeight
[data-ui-view]
	width 100%
	height 100%
	padding-top $headerHeight
	overflow hidden
	transition-property transform
	transition-duration 0.4s
	transition-timing-function cubic-bezier(0.3, 0.5, 0, 1.0)
	background-color $iOSPreferencesBackGroundColor
	transform translate3d(0,0,0)
	h1
		padding-left $m(1)
	&.ng-enter
		z-index $zMain
		transform translate3d(100%,0,0)
	&.ng-enter-active
		transform translate3d(0,0,0)
	&.ng-leave
		position absolute
		top 0
		left 0
		z-index $zMainLeave
		transform translate3d(0,0,0)
		&>.ViewCover
			display block
			background-color transparent
	&.ng-leave-active
		transform translate3d(-20%,0,0)
		&>.ViewCover
			background-color rgba(0,0,0,0.3)

.back
	&>[data-ui-view]
		&.ng-enter
			z-index $zMainLeave
			transform translate3d(-20%,0,0)
			&>.ViewCover
				display block
				background-color rgba(0,0,0,0.3)
		&.ng-enter-active
			transform translate3d(0,0,0)
			&>.ViewCover
				background-color transparent
		&.ng-leave
			z-index $zMain
			transform translate3d(0,0,0)
			&>.ViewCover
				display none
		&.ng-leave-active
			transform translate3d(100%,0,0)
			&>.ViewHeader
				&>.BackButton
					opacity 0

.ViewContent
	height 100%
	overflow-y auto
	-webkit-overflow-scrolling touch
	p
		padding 0 $m(1)
	&>div
		min-height 100%
		&>*
			&:first-child
				margin-top $u(1)
			&:last-child
				margin-bottom $u(1)

.ViewHeader
	position absolute
	top 0
	left 0
	z-index $zHeader
	width 100%
	height $headerHeight
	background-color $headerColor
	color $headerTextColor
	background-size 100% 2px
	@media $retina
		background-size 100% 1px
	background-image $lineBottom($headerBorderColor)
	background-position bottom
	&>*
		position absolute
		bottom 0
		display block
		height $u(1)
		line-height $u(1)
		font-size $bigFontSize
	&>h1
		padding 0

.ViewCover
	position absolute
	left 0
	top 0
	display none
	width 100%
	height 100%
	transition-property background-color
	transition-duration 0.2s
	transition-timing-function linear

.Platform-ios
	[data-ui-view]
		padding-top $iOSHeaderHeight
	.ViewHeader
		height $iOSHeaderHeight

&.PageTitle
	left 50%
	width $u(4)
	margin 0 0 0 $minus($u(2))
	overflow hidden
	text-align center

.BackButton
	left 0
	color $colorPrimary
	padding 0 $m(0.5) 0 $m(1.7)
	font-weight normal
	text-align left
	transition-property opacity
	transition-duration 0.2s
	transition-timing-function linear
	background-image $urlCaretLeftPrimary
	background-position left center
	&:hover
		color $colorPrimaryHover
	&:active
		color $colorPrimaryActive

.Notifier
	position fixed
	z-index $zNotifier
	height $u(1)
	bottom $m(0.5)
	width 100%
	color #fff
	text-align center
	pointer-event none
	&>div
		display inline-block
		max-width 95%
		height $u(1)
		line-height $u(1)
		padding 0 $u(0.5)
		background-color rgba(0,0,0,0.5)
		border-radius $u(0.5)
		white-space nowrap
		overflow hidden
		margin 0 auto
	&.ng-hide-add
		&>div
			opacity 1
			transition-property opacity
			transition-duration 0.1s
	&.ng-hide-add-active
		&>div
			opacity 0
	&.ng-hide-remove
		&>div
			opacity 0
			transition-property opacity
			transition-duration 0.1s
	&.ng-hide-remove-active
		&>div
			opacity 1

.Pointer
	position absolute
	width $u(10)
	height $u(10)
	margin-left $minus($scale(@width, 0.5))
	margin-top $minus($scale(@height, 0.5))
	pointer-events none
	cursor pointer
	border-radius 50%
	background-color rgba(0,0,0,0.2)
	transform scale3d(0,0,1)
	transition-property transform, background-color
	transition-duration 5s, 0.5s
	transition-timing-function linear, linear
	&.active
		transform scale3d(4,4,1)
		background-color rgba(0,0,0,0.1)
	&.fade
		background-color rgba(0,0,0,0)

.Banner
	text-align center

.Warning
	color $colorWarning

[draggable]
	-moz-user-select none
	-khtml-user-select none
	-webkit-user-select none
	user-select none
	-khtml-user-drag element
	-webkit-user-drag element
	user-drag element
