$colorRed = #d83b35
$colorBlue = #4883c0
$colorPrimary = #007bfa
$colorPrimaryActive = #3798fc
$colorPrimaryHover = #3798fc
$colorPrimaryHoverBG = #bcddfe
$colorPrimaryActiveBG = #58aaff
$colorSuccess = #2bd96c
$colorWarning = #dc741b

$zpageCover = 200
$zNotifier = 100
$zHeader = 10
$zMain = 5
$zMainLeave = 4

$widthLg = 800px
$widthSideNav = 160px

$iOSStatusBarHeight = 20px
$headerColor = #f6f6f7
$headerTextColor = #000
$headerBorderColor = #a7a7aa
$paleColor = #f9f9f9
$hoverColor = #eee
$borderColor = #ddd
$borderColorDarker = #ccc
$mutedTextColor = #8e8e93
$headerHeight = $u(1)
$iOSHeaderHeight = $add($iOSStatusBarHeight, $headerHeight)
$iOSPreferencesBackGroundColor = #efeff4
$checkboxBorderWidth = 1px
$checkboxHeight = 32px
$checkboxWidth = 52px
$checkboxToggleSize = $add($checkboxHeight, $minus($scale($checkboxBorderWidth, 2)))
$halfCheckboxToggleSize = $scale($checkboxToggleSize, 0.5)
$inputHeight = 24px
$sliderHeight = 1px

$smallFontSize = 12px
$baseFontSize = 15px
$bigFontSize = 17px

$retina = '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192 dpi)'

$urlCaretRightGray = url(../img/icon/caret-right-gray.svg)
$urlCaretLeftPrimary = url(../img/icon/caret-left-primary.svg)
$urlCheckPrimary = url(../img/icon/check-primary.svg)
