$add(a, b)
	a + b

$scale(a, b)
	a * b

$minus(a)
	-1 * a

$m(ratio)
	unit(round(16 * ratio), 'px')

$u(ratio)
	unit(round(44 * ratio), 'px')

$darker(color)
	lightness(color, lightness(color) * 0.95)

$lighter(color)
	lightness(color, lightness(color) * 1.05)

$raised()
	box-shadow 0 2px 5px rgba(0,0,0,.2)

$raised-active()
	box-shadow 0 1px 4px rgba(0,0,0,.2)

$shadow()
	box-shadow 0 0 5px rgba(0,0,0,.2)

$rounded()
	border-radius 4px

$line($color)
	linear-gradient(0deg, $color, $color)

$lineTop($color)
	linear-gradient(0deg, transparent, transparent 50%, $color 50%)

$lineBottom($color)
	linear-gradient(0deg, $color, $color 50%, transparent 50%)

$border()
	background-color #fff
	border none
	border-radius 0
	background-size 100% 2px, 100% 2px
	background-image linear-gradient(0deg, transparent, transparent 50%, #ddd 50%), linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%)
	background-repeat no-repeat
	background-position top, bottom
	@media $retina
		background-size 100% 1px, 100% 1px

$button(col)
	padding 0 $u(0.2)
	height $u(1)
	line-height $u(1)
	background-color col
	border-color col
	font-size $u(0.35)
	cursor pointer
	border none
	color #fff
	outline 0
	text-transform capitalize
	$rounded()
	&.active:hover
	&:hover
		background-color $darker(col)
	&:active,
	&.active
		background-color $darker($darker(col))

$icon-button(col)
	width $u(1)
	height $u(1)
	line-height $u(1)
	margin $m(1)
	font-size $u(0.5)
	background-color col
	border-radius 50%
	text-align center
	color #fff
	$raised()
	overflow hidden
	cursor pointer
	&:hover
		background-color $lighter(col)

$centered-background-image(path)
	background-image url(path)
	background-repeat no-repeat
	background-position center
	background-size 50%

$margin-bottom()
	+p,
	+ul,
	+input,
	+textarea,
	+pre
		margin-top $u(1)

$gridH($color, $height)
	linear-gradient(0deg, $color, $color $height, transparent $height, transparent)

$gridV($color, $height)
	linear-gradient(90deg, $color, $color $height, transparent $height, transparent)
