html {
  width: 100%;
  height: 100%;
}
body {
  position: fixed;
  left: 0;
  top: 0;
  touch-callout: none;
  -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #efeff4;
  background-attachment: fixed;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  width: 100%;
  height: 100%;
  line-height: 32px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: auto;
}
body>* {
  width: 100%;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
body>.BrowseHappy {
  opacity: 1;
}
body.started>* {
  opacity: 1;
}
body *,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  background-repeat: no-repeat;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  cursor: default;
  text-overflow: ellipsis;
}
body a,
body button,
body select,
body .checkbox,
body [on-click],
body [to-state] {
  cursor: pointer;
}
body input {
  cursor: auto;
}
body [disabled] {
  opacity: 0.3;
  cursor: default;
}
select,
input {
  display: block;
  width: 100%;
  padding: 0 16px;
  margin: 0;
  height: 44px;
  line-height: 44px;
  font-size: 15px;
  outline: 0;
  -webkit-appearance: none;
  background-color: #fff;
  border: none;
  border-radius: 0;
  background-size: 100% 2px, 100% 2px;
  background-image: -webkit-linear-gradient(90deg, transparent, transparent 50%, #ddd 50%), -webkit-linear-gradient(90deg, #ddd, #ddd 50%, transparent 50%);
  background-image: linear-gradient(0deg, transparent, transparent 50%, #ddd 50%), linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
  background-repeat: no-repeat;
  background-position: top, bottom;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  select,
  input {
    background-size: 100% 1px, 100% 1px;
  }
}
select +p,
input +p,
select +ul,
input +ul,
select +input,
input +input,
select +textarea,
input +textarea,
select +pre,
input +pre {
  margin-top: 44px;
}
select[type="radio"],
input[type="radio"] {
  display: none;
}
select[type="range"],
input[type="range"] {
  overflow: visible;
}
select[type="range"]::-ms-thumb,
input[type="range"]::-ms-thumb {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: 0 1px 4px 0px #8e8e93;
  background-color: #fff;
  border: none;
}
select[type="range"]::-ms-thumb:active,
input[type="range"]::-ms-thumb:active {
  border: none;
}
select[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-thumb {
  width: 24px;
  height: 24px;
  margin-top: -12px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 1px 4px 0px #8e8e93;
  background-color: #fff;
}
select[type="range"]::-webkit-slider-thumb,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 1px 4px 0px #8e8e93;
  background-color: #fff;
}
select[type="range"]::-ms-track,
input[type="range"]::-ms-track {
  height: 1px;
  background-color: #8e8e93;
  border: none;
}
select[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-track {
  height: 1px;
  background-color: #8e8e93;
}
select[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-runnable-track {
  height: 1px;
  background-color: #8e8e93;
}
select[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-lower {
  background-color: #007bfa;
}
img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
p {
  color: #8e8e93;
  margin-top: 44px;
  font-size: 12px;
  line-height: 1.5;
}
ul {
  font-size: 15px;
  border: none;
  border-radius: 0;
  background-color: #fff;
  list-style: none;
}
ul +p,
ul +ul,
ul +input,
ul +textarea,
ul +pre {
  margin-top: 44px;
}
li {
  height: 44px;
  line-height: 44px;
  padding: 0 16px;
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: 16px 1px, 100% 2px;
  background-image: -webkit-linear-gradient(90deg, #fff, #fff), -webkit-linear-gradient(90deg, transparent, transparent 50%, #ddd 50%);
  background-image: linear-gradient(0deg, #fff, #fff), linear-gradient(0deg, transparent, transparent 50%, #ddd 50%);
  background-position: left top, top;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  li {
    background-size: 16px 1px, 100% 1px;
  }
}
li:first-child {
  background-size: 0 1px, 100% 2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  li:first-child {
    background-size: 0 1px, 100% 1px;
  }
}
li:last-child {
  background-size: 16px 1px, 100% 2px, 100% 2px;
  background-image: -webkit-linear-gradient(90deg, #fff, #fff), -webkit-linear-gradient(90deg, transparent, transparent 50%, #ddd 50%), -webkit-linear-gradient(90deg, #ddd, #ddd 50%, transparent 50%);
  background-image: linear-gradient(0deg, #fff, #fff), linear-gradient(0deg, transparent, transparent 50%, #ddd 50%), linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
  background-position: left top, top, bottom;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  li:last-child {
    background-size: 16px 1px, 100% 1px, 100% 1px;
  }
}
li:only-child {
  background-size: 0 1px, 100% 2px, 100% 2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  li:only-child {
    background-size: 0 1px, 100% 1px, 100% 1px;
  }
}
li.withIcon {
  background-size: 60px 2px, 100% 2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  li.withIcon {
    background-size: 60px 1px, 100% 1px;
  }
}
li.withIcon:first-child {
  background-size: 0 1px, 100% 2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  li.withIcon:first-child {
    background-size: 0 1px, 100% 1px;
  }
}
li.withIcon:last-child {
  background-size: 60px 1px, 100% 2px, 100% 2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  li.withIcon:last-child {
    background-size: 60px 1px, 100% 1px, 100% 1px;
  }
}
li>* {
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  font-weight: normal;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
li>*:only-child {
  -webkit-flex-basis: initial;
      -ms-flex-preferred-size: initial;
          flex-basis: initial;
  color: #000;
}
li>a:active {
  color: #000;
}
li>div:first-child {
  text-align: left;
  -webkit-flex-basis: 132px;
      -ms-flex-preferred-size: 132px;
          flex-basis: 132px;
}
li>div:last-child {
  text-align: right;
  color: #8e8e93;
}
li>form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -16px;
}
li>form>*:first-child {
  padding-left: 0;
}
li>label:first-child {
  -webkit-flex-basis: 132px;
      -ms-flex-preferred-size: 132px;
          flex-basis: 132px;
}
li>button,
li>input {
  background: none;
  padding: 0;
  height: 24px;
  line-height: 24px;
}
li>button[type="range"],
li>input[type="range"] {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
}
li button:last-child {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 16px;
  height: 100%;
}
li img {
  -webkit-flex-basis: 31px;
      -ms-flex-preferred-size: 31px;
          flex-basis: 31px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  height: 31px;
  border-radius: 7px;
  margin-right: 16px;
}
li img+* {
  color: #000;
  text-align: left;
}
li.active {
  background-color: #eee;
}
li[to-state]::after {
  content: "_";
  color: transparent;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;
  height: 100%;
  background-image: url("../img/icon/caret-right-gray.svg");
  background-position: right center;
}
li[data-checker].checked::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 44px;
  background-image: url("../img/icon/check-primary.svg");
  background-position: right center;
}
li .checkbox {
  position: relative;
  width: 52px;
  height: 32px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border-radius: 16px;
  overflow: visible;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px;
  -webkit-transition-property: border-width, border-color;
  transition-property: border-width, border-color;
  -webkit-transition-duration: 0.2s, 0.1s;
          transition-duration: 0.2s, 0.1s;
  -webkit-transition-timing-function: linear, linear;
          transition-timing-function: linear, linear;
}
li .checkbox::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: 15px;
  top: 50%;
  display: block;
  cursor: pointer;
  margin-left: -15px;
  margin-top: -15px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 4px 0px #8e8e93;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
li .checkbox.checked {
  border-color: #2bd96c;
  border-width: 16px;
}
li .checkbox.checked::before {
  -webkit-transform: translate3d(5px, 0, 0);
          transform: translate3d(5px, 0, 0);
}
.untouchable ul >li[data-checker]:hover,
.untouchable ul >li[to-state]:hover {
  background-color: #eee;
  background-size: 0 1px, 100% 2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .untouchable ul >li[data-checker]:hover,
  .untouchable ul >li[to-state]:hover {
    background-size: 0 1px, 100% 1px;
  }
}
.untouchable ul >li[data-checker]:hover+li,
.untouchable ul >li[to-state]:hover+li {
  background-size: 0 1px, 100% 2px, 100% 2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .untouchable ul >li[data-checker]:hover+li,
  .untouchable ul >li[to-state]:hover+li {
    background-size: 0 1px, 100% 1px, 100% 1px;
  }
}
h1,
h2,
h3,
h4,
h5 {
  margin-top: 16px;
  text-transform: capitalize;
  font-size: 100%;
}
textarea {
  display: block;
  width: 100%;
  height: 220px;
  margin: 0;
  padding: 16px;
  outline: 0;
  -webkit-appearance: none;
  resize: vertical;
  overflow-y: auto;
  background-color: #fff;
  border: none;
  border-radius: 0;
  background-size: 100% 2px, 100% 2px;
  background-image: -webkit-linear-gradient(90deg, transparent, transparent 50%, #ddd 50%), -webkit-linear-gradient(90deg, #ddd, #ddd 50%, transparent 50%);
  background-image: linear-gradient(0deg, transparent, transparent 50%, #ddd 50%), linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
  background-repeat: no-repeat;
  background-position: top, bottom;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  textarea {
    background-size: 100% 1px, 100% 1px;
  }
}
textarea +p,
textarea +ul,
textarea +input,
textarea +textarea,
textarea +pre {
  margin-top: 44px;
}
pre {
  padding: 16px;
  font-family: Consolas, monospace;
  font-size: 80%;
  line-height: 1;
  white-space: pre;
  overflow-x: auto;
  background-color: #fff;
  border: none;
  border-radius: 0;
  background-size: 100% 2px, 100% 2px;
  background-image: -webkit-linear-gradient(90deg, transparent, transparent 50%, #ddd 50%), -webkit-linear-gradient(90deg, #ddd, #ddd 50%, transparent 50%);
  background-image: linear-gradient(0deg, transparent, transparent 50%, #ddd 50%), linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
  background-repeat: no-repeat;
  background-position: top, bottom;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  pre {
    background-size: 100% 1px, 100% 1px;
  }
}
pre +p,
pre +ul,
pre +input,
pre +textarea,
pre +pre {
  margin-top: 44px;
}
table {
  border-collapse: collapse;
}
td {
  padding: 8px 16px;
  border: solid 1px #ccc;
}
.SegmentedButtons {
  padding: 0 16px;
  margin: 16px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.SegmentedButtons>button {
  height: 35px;
  display: block;
  color: #007bfa;
  border-style: solid;
  border-color: #007bfa;
  border-width: 1px 0 1px 1px;
  border-radius: 0;
  background: none;
  background-color: transparent;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.05s, 0.05s;
          transition-duration: 0.05s, 0.05s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font-weight: normal;
  overflow: hidden;
}
.SegmentedButtons>button:first-of-type {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.SegmentedButtons>button:last-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right-width: 1px;
}
.SegmentedButtons>button:hover {
  background-color: #bcddfe;
}
.SegmentedButtons>button.checked {
  color: #fff;
  background-color: #007bfa;
}
.btnRow {
  text-align: right;
}
button {
  color: #007bfa;
  height: 44px;
  padding: 0 16px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  outline: 0;
  text-transform: capitalize;
}
button:hover {
  color: #3798fc;
}
button:active {
  color: #3798fc;
}
.PageCover {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.PageCover.ng-hide-add {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  background-color: rgba(0,0,0,0.4);
}
.PageCover.ng-hide-add.toast {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.PageCover.ng-hide-remove {
  background-color: rgba(0,0,0,0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.PageCover.ng-hide-remove-active {
  background-color: rgba(0,0,0,0.4);
}
.PageCover.ng-hide-add-active {
  background-color: rgba(0,0,0,0);
}
.PageCover>.Pointer {
  z-index: -1;
  display: none;
}
.PageCover.dismissable>.Pointer {
  display: block;
}
.PageCover.fade.dialog>.PageCoverContent {
  opacity: 0;
}
.PageCover.fade.toast>.PageCoverContent {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.PageCover>.PageCoverContent {
  width: 352px;
  max-width: 95%;
  max-height: 100%;
  overflow-y: auto;
}
.PageCover>.PageCoverContent>*>li {
  padding: 0;
  background-size: 100% 2px;
  background-image: -webkit-linear-gradient(90deg, transparent, transparent 50%, #ddd 50%);
  background-image: linear-gradient(0deg, transparent, transparent 50%, #ddd 50%);
  background-position: top;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .PageCover>.PageCoverContent>*>li {
    background-size: 100% 1px;
  }
}
.PageCover>.PageCoverContent>*>li:first-child {
  background-image: none;
}
.PageCover>.PageCoverContent>*>li>* {
  height: 100%;
  text-align: center;
  font-weight: normal;
}
.PageCover.toast {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.PageCover.toast button {
  width: 100%;
}
.PageCover.toast a,
.PageCover.toast [on-click] {
  color: #007bfa;
}
.PageCover.toast a:hover,
.PageCover.toast [on-click]:hover,
.PageCover.toast a:active,
.PageCover.toast [on-click]:active {
  background-image: none;
  background-color: #ddd;
}
.PageCover.toast>.PageCoverContent {
  padding-top: 8px;
  color: #8e8e93;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.PageCover.toast>.PageCoverContent>* {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}
.PageCover.toast.ng-hide-add>.PageCoverContent {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0.7, 0.5);
          transition-timing-function: cubic-bezier(1, 0, 0.7, 0.5);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.PageCover.toast.ng-hide-remove>.PageCoverContent {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.3, 0.5, 0, 1);
          transition-timing-function: cubic-bezier(0.3, 0.5, 0, 1);
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.PageCover.toast.ng-hide-remove-active>.PageCoverContent {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.PageCover.toast.ng-hide-add-active>.PageCoverContent {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.PageCover.dialog {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.PageCover.dialog p {
  margin-top: 16px;
  padding: 0 16px;
}
.PageCover.dialog>.PageCoverContent {
  background-color: #fff;
  border-radius: 4px;
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.PageCover.dialog.ng-hide-add-active>.PageCoverContent {
  opacity: 0;
}
.Platform-ios>[data-ui-view] {
  padding-top: 64px;
}
[data-ui-view] {
  width: 100%;
  height: 100%;
  padding-top: 44px;
  overflow: hidden;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.3, 0.5, 0, 1);
          transition-timing-function: cubic-bezier(0.3, 0.5, 0, 1);
  background-color: #efeff4;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
[data-ui-view] h1 {
  padding-left: 16px;
}
[data-ui-view].ng-enter {
  z-index: 5;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}
[data-ui-view].ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
[data-ui-view].ng-leave {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
[data-ui-view].ng-leave>.ViewCover {
  display: block;
  background-color: transparent;
}
[data-ui-view].ng-leave-active {
  -webkit-transform: translate3d(-20%, 0, 0);
          transform: translate3d(-20%, 0, 0);
}
[data-ui-view].ng-leave-active>.ViewCover {
  background-color: rgba(0,0,0,0.3);
}
.back>[data-ui-view].ng-enter {
  z-index: 4;
  -webkit-transform: translate3d(-20%, 0, 0);
          transform: translate3d(-20%, 0, 0);
}
.back>[data-ui-view].ng-enter>.ViewCover {
  display: block;
  background-color: rgba(0,0,0,0.3);
}
.back>[data-ui-view].ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.back>[data-ui-view].ng-enter-active>.ViewCover {
  background-color: transparent;
}
.back>[data-ui-view].ng-leave {
  z-index: 5;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.back>[data-ui-view].ng-leave>.ViewCover {
  display: none;
}
.back>[data-ui-view].ng-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}
.back>[data-ui-view].ng-leave-active>.ViewHeader>.BackButton {
  opacity: 0;
}
.ViewContent {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.ViewContent p {
  padding: 0 16px;
}
.ViewContent>div {
  min-height: 100%;
}
.ViewContent>div>*:first-child {
  margin-top: 44px;
}
.ViewContent>div>*:last-child {
  margin-bottom: 44px;
}
.ViewHeader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 44px;
  background-color: #f6f6f7;
  color: #000;
  background-size: 100% 2px;
  background-image: -webkit-linear-gradient(90deg, #a7a7aa, #a7a7aa 50%, transparent 50%);
  background-image: linear-gradient(0deg, #a7a7aa, #a7a7aa 50%, transparent 50%);
  background-position: bottom;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .ViewHeader {
    background-size: 100% 1px;
  }
}
.ViewHeader>* {
  position: absolute;
  bottom: 0;
  display: block;
  height: 44px;
  line-height: 44px;
  font-size: 17px;
}
.ViewHeader>h1 {
  padding: 0;
}
.ViewCover {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.Platform-ios [data-ui-view] {
  padding-top: 64px;
}
.Platform-ios .ViewHeader {
  height: 64px;
}
.PageTitle {
  left: 50%;
  width: 176px;
  margin: 0 0 0 -88px;
  overflow: hidden;
  text-align: center;
}
.BackButton {
  left: 0;
  color: #007bfa;
  padding: 0 8px 0 27px;
  font-weight: normal;
  text-align: left;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  background-image: url("../img/icon/caret-left-primary.svg");
  background-position: left center;
}
.BackButton:hover {
  color: #3798fc;
}
.BackButton:active {
  color: #3798fc;
}
.Notifier {
  position: fixed;
  z-index: 100;
  height: 44px;
  bottom: 8px;
  width: 100%;
  color: #fff;
  text-align: center;
  pointer-event: none;
}
.Notifier>div {
  display: inline-block;
  max-width: 95%;
  height: 44px;
  line-height: 44px;
  padding: 0 22px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 22px;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
}
.Notifier.ng-hide-add>div {
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}
.Notifier.ng-hide-add-active>div {
  opacity: 0;
}
.Notifier.ng-hide-remove>div {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}
.Notifier.ng-hide-remove-active>div {
  opacity: 1;
}
.Pointer {
  position: absolute;
  width: 440px;
  height: 440px;
  margin-left: -220px;
  margin-top: -220px;
  pointer-events: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.2);
  -webkit-transform: scale3d(0, 0, 1);
          transform: scale3d(0, 0, 1);
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: transform, background-color;
  transition-property: transform, background-color, -webkit-transform;
  -webkit-transition-duration: 5s, 0.5s;
          transition-duration: 5s, 0.5s;
  -webkit-transition-timing-function: linear, linear;
          transition-timing-function: linear, linear;
}
.Pointer.active {
  -webkit-transform: scale3d(4, 4, 1);
          transform: scale3d(4, 4, 1);
  background-color: rgba(0,0,0,0.1);
}
.Pointer.fade {
  background-color: rgba(0,0,0,0);
}
.Banner {
  text-align: center;
}
.Warning {
  color: #dc741b;
}
[draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  user-drag: element;
}
.ObjectInfo>li,
.ObjectList>li {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}
.ObjectList>li {
  display: block;
}
.ObjectList>li.ObjectListHeader>a>div {
  font-weight: bold;
}
.ObjectList>li>a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 31px;
}
.ObjectList>li>a>div {
  -webkit-flex-basis: 100px;
      -ms-flex-preferred-size: 100px;
          flex-basis: 100px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.ObjectList>li>a>div:first-child {
  -webkit-flex-basis: 50px;
      -ms-flex-preferred-size: 50px;
          flex-basis: 50px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (max-width: 850px) {
  .ObjectList>li>a>div:first-child {
    display: none;
  }
}
@media (max-width: 500px) {
  .ObjectList>li>a>div:nth-child(2) {
    display: none;
  }
}
.ObjectList>li>a>div:nth-child(5) {
  -webkit-flex-basis: 100px;
      -ms-flex-preferred-size: 100px;
          flex-basis: 100px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (max-width: 750px) {
  .ObjectList>li>a>div:nth-child(5) {
    display: none;
  }
}
.ObjectList>li>a>div:nth-child(6) {
  text-align: right;
  -webkit-flex-basis: 100px;
      -ms-flex-preferred-size: 100px;
          flex-basis: 100px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (max-width: 320px) {
  .ObjectList>li>a>div:nth-child(6) {
    display: none;
  }
}
.ObjectList>li>a>div:last-child {
  text-align: right;
  -webkit-flex-basis: 200px;
      -ms-flex-preferred-size: 200px;
          flex-basis: 200px;
}
@media (max-width: 750px) {
  .ObjectList>li>a>div:last-child {
    -webkit-flex-basis: 100px;
        -ms-flex-preferred-size: 100px;
            flex-basis: 100px;
  }
}
@media (max-width: 550px) {
  .ObjectList>li>a>div:last-child {
    display: none;
  }
}
[data-graph] {
  display: block;
  background-color: #fff;
  width: 100%;
  height: 400px;
}
.ListItem_Counter {
  padding-right: 44px;
}
.ListItem_Counter>.Label {
  -webkit-flex-basis: 88px;
      -ms-flex-preferred-size: 88px;
          flex-basis: 88px;
  -webkit-box-flex: 0.1;
  -webkit-flex-grow: 0.1;
      -ms-flex-positive: 0.1;
          flex-grow: 0.1;
  text-align: center;
}
.ListItem_Counter>button:last-child,
.ListItem_Counter>button {
  padding: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 44px;
  -webkit-flex-basis: 44px;
      -ms-flex-preferred-size: 44px;
          flex-basis: 44px;
  text-align: center;
  height: 100%;
}
footer {
  margin-top: 44px;
  text-align: center;
  line-height: 1.5;
}
