:root {
    --fontSans: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    --fontMonospace: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    --fontCMSerif: Computer Modern Serif, Times, serif;
    --fontCMSans: Computer Modern Sans, sans-serif;
    --fontCMMonospace: Computer Modern Typewriter Light, monospace;
    height: 100%;
    font-size: 16px;
    font-family: var(--fontSans);
    font-weight: 400;
    color: #333333;
}

[data-font=sans] {
    font-family: var(--fontSans);
}

[data-font=serif] {
    font-family: var(--fontCMSerif);
}

body {
    min-height: 100%;
    margin: 0 auto;
    counter-reset: h1;
}

@media (max-width: 700px) {
    :root {
        font-size: 13px;
    }
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 1.5rem 0;
}

header h1 {
    margin: 0 auto;
    font-size: 1.8rem;
}

h1 {
    margin: 2rem auto 0.5rem auto;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.4;
}

h1:first-child {
    margin-top: 0;
}

h2 {
    margin: 1rem auto 0.5rem auto;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.4;
    counter-increment: h2;
    counter-reset: h3;
}

h3 {
    margin: 1rem auto 0.5rem auto;
    font-size: 1rem;
    line-height: 1.4;
    counter-increment: h3;
}

article {
    width: 94%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 4rem;
    counter-reset: h1;
}

article h1 {
    counter-increment: h1;
    counter-reset: h2;
}

article h2 {
    counter-increment: h2;
    counter-reset: h3;
}

article h3 {
    counter-increment: h3;
    counter-reset: h4;
}

article h1::before {
    content: counter(h1) '. ';
}

article h2::before {
    content: counter(h1) '.' counter(h2) '. ';
}

article h3::before {
    content: counter(h1) '.' counter(h2) '.' counter(h3) '. ';
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1rem auto;
}

table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

tr {
    position: relative;
    cursor: pointer;
    outline: 0;
}

tr:first-child>td,
tr:first-child>th {
    z-index: 1;
    position: sticky;
    top: 0;
}

tr:first-child>::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: solid currentColor 1px;
    pointer-events: none;
}

td:first-child,th:first-child {
    z-index: 2;
    position: sticky;
    left: 0;
}

tr:first-child>:first-child {
    z-index: 3;
}

tr[tabindex]:hover>td,
tr[tabindex]:hover>th {
    background-color: rgb(236, 236, 236);
}

td,th {
    --backgroundColor: white;
    padding: 0.5rem 0.5rem 0.4rem 0.5rem;
    line-height: 1.2rem;
    vertical-align: top;
    font-size: 1rem;
    transition: background-color 0.1s;
    background-color: var(--backgroundColor);
}

figure {
    overflow: hidden;
    counter-increment: figure;
}

figure+figure {
    margin-top: 2rem;
}

canvas {
    width: 100%;
}

figcaption {
    margin-top: 0.8rem;
    line-height: 1.4;
}

figcaption::before {
    content: 'Fig.' counter(figure) ' ';
}

a {
    word-break: break-all;
}

text {
    fill: currentColor;
    stroke: none;
}

select,
input {
    font: inherit;
}

input[type=text],
input[type=number] {
    height: 1.4rem;
    min-width: 50px;
    margin: 0;
    border: none;
    border-bottom: solid currentColor 1px;
    border-radius: 0;
    appearance: none;
}

input[type=number] {
    text-align: right;
}

input[type=radio] {
    margin: 0 4px;
}

li {
    margin: 0.4rem;
    line-height: 1.4rem;
}
