.svg {
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: 90%;
    break-inside: avoid;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    box-sizing: border-box;
}

.alignBottom {
    dominant-baseline: baseline;
}

.alignMiddle {
    dominant-baseline: middle;
}

.alignTop {
    dominant-baseline: hanging;
}

.alignLeft {
    text-anchor: start;
}

.alignCenter {
    text-anchor: middle;
}

.alignRight {
    text-anchor: end;
}

.object[data-color='0'] {
    stroke: rgb(255, 0, 0);
}

.object[data-color='1'] {
    stroke: rgb(255, 153, 0);
}

.object[data-color='2'] {
    stroke: rgb(139, 214, 0);
}

.object[data-color='3'] {
    stroke: rgb(255, 153, 0);
}

.object[data-color='4'] {
    stroke: rgb(179, 255, 0);
}

.object[data-color='5'] {
    stroke: rgb(0, 255, 85);
}

.object[data-color='6'] {
    stroke: rgb(4, 0, 255);
}

.yLabel {
    fill: currentColor;
    stroke: none;
}
