.form {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    line-height: 1.5;
}

#input {
    flex-grow: 1;
    padding: 0 8px;
    font: inherit;
    border: none;
    outline: 0;
    font-weight: bold;
}

@media print {
    .form {
        display: none;
    }
}
