.radioLabel {
    margin-right: 4px;
}

.showAllButtonWrap {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 1rem;
    display: flex;
    justify-content: center;
}

.showAllButton {
    padding: 0.5rem 1rem;
    border: solid 1px currentColor;
    border-radius: 3px;
    background-color: #ffffff;
}

@media print {
    .showAllButtonWrap {
        display: none;
    }
}
