<p ng-show="home.loading">Loading...</p>
<p ng-hide="home.loading">Select an object</p>
<ul class="ObjectList">
	<li class="ObjectListHeader">
		<a>
			<div>No.</div>
			<div>RA, Dec</div>
			<div>JNAME</div>
			<div>CNAME</div>
			<div>l, b</div>
			<div>Category</div>
			<div>SubCategory</div>
		</a>
	</li>
	<li
		ng-hide="object.isHeader"
		to-state="object({name:object.JNAME})"
		ng-repeat="object in home.list">
		<div>{{object['No.']}}</div>
		<div>{{object.RA}}, {{object.Dec}}</div>
		<div>{{object.JNAME}}</div>
		<div>{{object.CNAME}}</div>
		<div>{{object.l}}, {{object.b}}</div>
		<div>{{object.Category}}</div>
		<div>{{object.Subcategory}}</div>
	</li>
</ul>
<div class="btnRow">
	<button on-click="home.clearCache()">Clear Cache</button>
</div>
<footer>
	This page includes data available from <a href="http://www.maxi.jaxa.jp/obs/agn_etc/">http://www.maxi.jaxa.jp/obs/agn_etc/</a>
</footer>
