.container {
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin: 1em auto;
}

.tableWrap {
    flex-grow: 1;
    position: relative;
    max-height: 400px;
    overflow: auto;
    border: solid currentColor 1px;
    border-width: 1px 0;
}

.table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

.thr,
.tr {
    outline: 0;
    overflow: hidden;
}

.thr>.cell {
    z-index: 2;
    position: sticky;
    top: 0;
}

.thr>.cell::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: solid currentColor 1px;
}

.cell:first-child {
    z-index: 3;
    position: sticky;
    left: 0;
}

.thr>.cell:first-child {
    z-index: 4;
}

.tr {
    cursor: pointer;
    outline: 0;
}

.tr:hover>.cell {
    background-color: rgb(236, 236, 236);
}

.tr:nth-child(2n).selected>.cell {
    background-color: rgb(255, 227, 184);
}

.tr:nth-child(2n+1).selected>.cell {
    background-color: rgb(255, 208, 137);
}

.cell {
    --backgroundColor: white;
    padding: 1ex 1ex 0.8ex 1ex;
    line-height: 1.2;
    vertical-align: top;
    font-size: var(--fontSize);
    transition: background-color 0.1s;
    background-color: var(--backgroundColor);
}

.th {
    padding: 0.7ex 1ex 0.5ex 1ex;
}

.cell.id {
    font-family: var(--fontMonospace);
}

.cell.number {
    text-align: right;
    font-variant-numeric: tabular-nums;
}

.filterWrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    line-height: 1.5;
}

.filterInput {
    flex-grow: 1;
    padding: 0 8px;
    font: inherit;
    border: none;
    outline: 0;
    font-weight: bold;
}

.filterInput.empty {
    font-weight: normal;
}
