.container {
    position: relative;
    height: 200px;
    max-height: 40vh;
    width: 100%;
    overflow: auto;
    border: solid currentColor 1px;
    border-width: 1px 0;
    -webkit-overflow-scrolling: touch;
}

td.id {
    font-size: 0.85rem;
    font-family: var(--fontMonospace);
}

td.number {
    text-align: right;
    font-variant-numeric: tabular-nums;
}

.loading {
    top: 30px;
}

.selected:nth-child(2n)>td,
.selected:nth-child(2n)>th {
    background-color: rgb(255, 227, 184);
}

.selected:nth-child(2n+1)>td,
.selected:nth-child(2n+1)>th {
    background-color: rgb(255, 208, 137);
}

@media print {
    .container {
        display: block;
        height: auto;
    }
    .tableWrap {
        max-height: none;
    }
    .tableWrap tr:not([data-selected]) {
        display: none;
    }
    .tableWrap tr:first-child {
        display: table-row;
    }
}
